.background {
    background-image: url("/static/images/gt22.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 100% 100%;
    height: 835px;
    width: 1400px;
}

.center {
    margin: auto;
    padding: 10px;
}
.window {
    height: 95%;
    width: 95%;
}