{% extends 'base.html' %}
{% block DGT %}
{% load static %}
<div class="pt-4 mt-4 d-flex justify-content-between"></div>

<div class="mt-4">
    <div class="center card background">
        <div class="window center">
            <div class="d-flex flex-wrap align-content-start" style="height:50%">
                <div class="">
                    <div class="">
                        <img src="static/images/DGT/Red.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Yellow.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Green.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkGreen.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkRed.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                    </div>
                    <div>
                        <img src="static/images/DGT/Red.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Yellow.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Green.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkGreen.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkRed.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap align-content-end" style="height:50%">
                <div class="">
                    <div class="">
                        <img src="static/images/DGT/Red.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Yellow.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Green.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkGreen.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkRed.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                    </div>
                    <div>
                        <img src="static/images/DGT/Red.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Yellow.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/Green.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkGreen.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                        <img src="static/images/DGT/WalkRed.png" class="mt-5" alt="Cinque Terre" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/DGT.js' %}"></script>
{% endblock %}