{% extends 'base.html' %}
{% block Home %}
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="jokes"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="mqtt"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue1"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue2"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue3"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue4"></h1>
</div>

<h1 id="app"></h1>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <canvas id="myChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}