<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="jokes"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="mqtt"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue1"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue2"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue3"></h1>
</div>
<div class="container p-5 my-5 bg-dark text-white">
    <h1 id="ItemValue4"></h1>
</div>
<script>
    var socket = new WebSocket('ws://localhost:8000/ws/Led/');
    socket.onmessage = function(event){
    var joke = event.data;
    console.log("Message from server ", event.data);
    document.querySelector('#jokes').innerText = joke;
    }

    var socket = new WebSocket('ws://localhost:8000/ws/Mqtt/');
    socket.onmessage = function(event){
    const mqtt = event.data;
    console.log(event.data);
    document.querySelector('#mqtt').innerText = mqtt;

    const massage = JSON.parse(mqtt)
    for (let x in massage) {
        console.log(massage[x]);
        document.querySelector('#'+x).innerText = massage[x];
        }
    }
</script>
</body>
</html>